/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
html, body {
  width: 100%;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}

#page-layout {
  margin: 0 auto;
  width: 791px;
}

#header {
  width: 791px;
  height: 40px;
  background: #4e729a url("../img/vk-logo.gif") repeat-x 0px -43px ;
  border-radius: 0 0 8px 8px;

  #logo-container {
    width: 134px;
    height: 40px;
    float: left;

    .vk-logo {
      background: url("../img/vk-logo.gif") 0px -1px;
      width: 134px;
      height: 36px;

    }
  }

  #search-input-container {
    float: left;

    .search-input {
      width: 106px;
      border: 0;
      border-radius: 2px;
      margin: 8px 0 5px 13px;
      height: 13px;
      padding: 4px 40px 5px 21px;
      font-size: 11px;
      background: #ffffff url("../img/search_icon_d.gif") no-repeat 6px -11px;
    }
  }

  #navigation-menu {
    float: right;
    margin-right: 8px;

    .nav-menu-list {

      .nav-menu-button {
        float: right;

        .button-content {
          float: right;
          font-weight: bold;
          font-size: 11px;
          color: #E8EFF7;
          text-shadow: 0px 1px 0px #4e7097;
          margin: 13px 10px;
        }

        .music-button-play {
          background: url("../img/audio_iconsf.png") no-repeat;
          height: 22px;
          width: 23px;
          float: right;
          margin: 9px 5px 0 -2px;
        }
      }
    }

    .nav-menu-button:hover {
      background-color: rgba(0, 31, 64, 0.17);
      color: #FFF;
      cursor: pointer;
    }
  }
}

#page-container {


  #side-bar-container {
    height: 305px;
    padding: 6px 0 10px 4px;
    width: 136px;
    float: left;
    margin-right: 6px;
    
    .side-bar-list {
      margin-bottom: 10px;

      .side-bar-action {
        height: 13px;
        width: 136px;
        padding: 4px 0;

        .side-bar-content {
          color: #2B587A;
          font-size: 11px;
          margin-left: 5px;
          float: left;
        }

        .setting-button {
          color: gray;
          font-size: 11px;
          float: right;
          margin: 0 7px 0 0;
        }
      }

      .side-line {
        margin: 3px 0;
        border-top: 1px solid #E7EAED;
      }
    }
  }

  #wall-page-container {
    width: 635px;
    float: left;
    border: solid #D9E0E7;
    border-width: 0px 1px 1px;

    #page-title {
      font-weight: bold;
      font-size: 11px;
      line-height: 140%;
      background: #E9EDF1;
      border: solid #D9E0E7;
      border-width: 0px 1px;
      width: 634px;
      height: 29px;

      #name-title {
        float: left;
        color: #607387;
        font-size: 11px;
        margin: 7px 8px;
      }

      #status-title {
        float: right;
        color: #AAB7C5;
        font-size: 11px;
        margin: 7px 11px;
      }
    }

    #profile-page-container {
      margin: 10px;
      width: 607px;

      #page-left-column {
        width: 200px;
        float: left;

        .profile-avatar-container {


          .profile-avatar {
            background: url("../img/main_avatar.jpg");
            height: 200px;
            width: 200px;
            float: left;
            margin-bottom: 13px;
          }

          .edit-profile {
            font-size: 11px;
            color: #2B587A;
            margin: 0 0 10px 5px;
          }

          .side-line {
            margin: 3px 2px;
            border-top: 1px solid #E7EAED;
          }

          .profile-followers {
            margin: 10px 8px 22px 5px;

            .pr-follower-text {
              font-size: 11px;
              color: #2B587A;
              float: left;
            }

            .followers-icon {
              float: right;
              background: url("../img/profile_icons.gif") 0 -23px no-repeat;
              height: 12px;
              width: 12px;
              margin-left: 4px;
            }

            .followers-quantity {
              float: right;
              font-size: 10px;
              color: #2B587A;
            }
          }
        }

        #rating-container {
          height: 18px;
          width: 200px;
          margin: 37px 0 13px;

          .under-layer {
            background-color: #F1F1F1;
            height: 18px;
            position: relative;
            z-index: 1;
          }

          .upper-layer {
            background-color: #DEE5EB;
            width: 190px;
            height: 18px;
            position: relative;
            z-index: 2;
            top: -18px;
          }

          .text-holder {
            text-align: center;
            color: #8BA1BC;
            font-size: 11px;
            position: relative;
            z-index: 3;
            top: -33px;
          }
        }

        .contact-info {
          margin: 17px 15px 44px 3px;

          .rate-icon {
            float: left;
            height: 12px;
            width: 12px;
            background: url("../img/profile_icons.gif") 0 -198px;
          }

          .rate-text-holder {
            width: 130px;
            font-size: 11px;
            float: left;
            color: #2B587A;
            margin-left: 6px;
          }

          .rate-plus-percent {
            float: right;
            font-size: 11px;
            color: #2B587A;
          }
        }

        .module-header {
          float: left;
          width: 200px;

          .module-title {
            font-weight: bold;
            background: #DEE5EB;
            height: 21px;

            .module-text-holder {
              float: left;
              color: #45688E;
              margin: 4px 11px;
              font-size: 11px;
            }

            .module-updates {
              float: right;
              color: #99ADC2;
              margin: 4px 11px;
              font-size: 11px;
            }
          }

          .module-value {
            color: #666;
            padding: 4px 10px;
            background: #F1F1F1;
            height: 12px;
            font-size: 11px;
          }
        }

        #friends-container {
          font-size: 11px;
          float: left;
          width: 200px;
          color: #2B587A;
        }

        #friends-online-container {
          font-size: 11px;
          float: left;
          width: 200px;
          color: #2B587A;
        }

          .random-fr-shower {
            height: 208px;
            margin: 6px 0 -9px 8px;

            .fr-page-container {
              float: left;
              height: 94px;
              width: 50px;
              margin: 5px 14px 0 0;

              .fr-avatar {
                background: url("../img/ogor-delay-avatar.jpg");
                width: 50px;
                height: 50px;
                float: left;
                margin-bottom: 2px;
              }

              .fr-name {
                float: left;
                margin-left: 12px;
                text-align: center;
                line-height: 1.2;
              }
            }
          }

        #community-container {
          width: 200px;
          float: left;

          .community-holder {
            float: left;
            margin: 3px 8px;
            width: 100%;

            .community-avatar {
              background: url("../img/comm-avatar.jpg");
              height: 32px;
              width: 32px;
              float: left;
              background-size: cover;
            }

            .community-name {
              float: left;
              font-size: 11px;
              color: #2B587A;
              margin: 4px;

              .comm-main-name {

              }

              .comm-status {
                font-size: 0.9em;
                color: gray;
              }
            }
          }
        }

        #photo-container {
          float: left;
          padding-bottom: 20px;

          .album-holder {
            float: left;
            width: 200px;

            .album-photo-preview {
              width: 178px;
              height: 118px;
              float: right;
              margin: 10px 10px 0;
            }

            .preview-1 {
              background: url("../img/dnushenka.jpg");
              background-size: cover;
            }

            .preview-2 {
              background: url("../img/odessa.jpg");
              background-size: cover;
            }

            .album-name-holder {
              font-size: 11px;
              background: rgba(0, 0, 0, 0.5);
              color: white;
              position: relative;
              top: -20px;
              left: -11px;
              width: 178px;
              text-align: left;
              margin: 4px 0 -18px;
              line-height: 12px;
              height: 16px;
              z-index: 3;
              float: right;
              font-weight: bold;

              .album-name {
                float: left;
                margin: 2px 6px;
              }

              .photo-value {
                float: right;
                margin: 2px 6px 0 0;
              }

              .photo-icon {
                float: right;
                background: url("../img/camera_white.png");
                height: 9px;
                width: 12px;
                margin: 3px 3px;
              }
            }
          }
        }

        #video-container {
          float: left;
          padding-bottom: 20px;

          .video-holder {
            float: left;
            margin: 10px 10px 0;
            font-size: 11px;

            .video-preview-1 {
              background: url("../img/video-prev-1.jpg") 0;
              width: 178px;
              height: 97px;
              background-size: cover;
            }

            .video-preview-2 {
              background: url("../img/video-prev-2.jpg") 0;
              width: 178px;
              height: 97px;
              background-size: cover;
            }

            .play-time-layer {
              height: 0;

              .video-play-button {
                background: url("../img/video-play-button.png");
                height: 36px;
                width: 36px;
                position: relative;
                left: 70px;
                bottom: 66px;
              }

              .time-holder {
                color: #FFF;
                padding: 2px 4px;
                border-radius: 2px;
                background-color: rgba(0, 0, 0, 0.57);
                width: 35px;
                position: relative;
                left: 121px;
                bottom: 59px;
                font-size: 10px
              }
            }

            .description-holder {
              float: left;
              margin-top: 5px;

              .name-holder {
                color: #2B587A;
                float: left;
              }

              .date-comments-holder {
                font-size: 10px;
                float: left;
                margin-top: 2px;

                .date {
                  color: #777;
                  float: left;
                }

                .to-comment {
                  color: #2B587A;
                  float: left;
                }
              }
            }
          }
        }

        #audio-container {
          float: left;

          .audio-holder {
            float: right;
            width: 191px;
            height: 28px;
            margin-top: 7px;
            font-size: 11px;

            .play-pause-button {
              background: url("../img/playpause.gif");
              float: left;
              height: 16px;
              width: 16px;
              margin: 5px;
            }

            .audio-name {
              float: left;
              width: 116px;
              padding: 7px 0 6px;

              .artist-name {
                float: left;
                font-weight: bold;
                color: #2B587A;
              }
            }

            .audio-time {
              float: right;
              padding: 7px 0 6px;
              margin-right: 9px;
            }
          }
        }
      }

      #page-right-column {
        float: right;
        width: 397px;

        #profile-information-container {
          float: left;

          #profile-name {
            color: #45688E;
            font-size: 12px;
            font-weight: bold;
            float: left;
            margin: 1px 0 2px 6px;
          }

          #profile-status {
            float: left;
            font-size: 11px;
            margin: 4px 0 2px 7px;
          }

          .side-line {
            margin: 5px 0;
            border-top: 1px solid #E7EAED;
            float: left;
            width: 404px;
          }

          #family-information {
            float: left;
            font-size: 11px;
            margin: 7px 0 2px 6px;

            .family-items {
              float: left;
              width: 135px;
              color: #777;

              .fam-status {
                margin-bottom: 7px;
              }

              .father {

              }
            }

            .family-members {
              float: right;

              .fam-label {
                margin-bottom: 7px;

                .fam-name {
                  float: right;
                  color: #2B587A;
                  margin-left: 3px;
                }
              }

              .father-name {
                color: #2B587A;
              }
            }
          }
        }

        #show-more-container {
          float: left;
          width: 397px;
          font-size: 11px;
          color: #2B587A;
          height: 30px;
          margin: 4px 0 11px;

          .show-more-info {
            margin: 10px 0 0 141px;
          }
        }

        #page-photo-container {
          width: 397px;
          height: 112px;
          float: left;
          font-size: 11px;

          .photo-title {
            background: #DEE5EB;
            font-weight: bold;
            height: 25px;

            .photo-value {
              float: left;
              color: #45688E;
              margin: 6px;
            }

            .add-photo {
              float: right;
              color: #99ADC2;
              margin: 6px;

            }
          }

          #photo-holder {
            float: left;
            height: 77px;
            margin: 5px -1px 12px;

            .ph {
              float: left;
            }

            .photo1 {
              background: url("../img/photo-1.jpg");
              height: 70px;
              width: 70px;
              background-size: cover;
              margin-right: 3px;
            }

            .photo2 {
              background: url("../img/photo-2.jpg");
              height: 70px;
              width: 105px;
              background-size: cover;
              margin-right: 3px;
            }

            .photo3 {
              background: url("../img/photo-3.jpg");
              height: 70px;
              width: 105px;
              background-size: cover;
              margin-right: 3px;
            }

            .photo4 {
              background: url("../img/photo-4.jpg");
              height: 70px;
              width: 105px;
              background-size: cover;
            }
          }
        }

        #add-new-note {
          float: left;
          font-size: 11px;
          width: 397px;

          .note-title {
            background: #DEE5EB;
            font-weight: bold;
            height: 12px;
            color: #45688E;
            padding: 7px 0 6px 6px;
          }

          .input-area {
            background: #F1F1F1;
            height: 44px;

            .add-note {
              color: #666;
              margin: 9px 8px 8px;
              width: 364px;
              height: 11px;
              padding: 6px 8px 8px 7px;
              border: 1px solid #C3CBD4;
              font-size: 11px;
            }
          }
        }

        .wall-note-container {
          float: left;
          height: auto;
          width: 397px;
          margin-top: 7px;

          .mini-avatar-holder {
            float: left;
            margin: 5px 0;

            .mini-avatar {
              background: url("../img/mini-avatar.jpg");
              height: 50px;
              width: 50px;
              float: left;
            }

            .status {
              width: 50px;
              text-align: center;
              margin-top: 57px;
              color: #AAA;
              font-size: 11px;
            }
          }

          .note-holder {
            float: left;
            width: 341px;
            margin: 5px 0 0 6px;


            .name-holder {
              color: #2B587A;
              font-size: 11px;
              font-weight: bold;
            }

            .content-holder {
              margin-top: 5px;

              .content {
                line-height: 160%;
                font-size: 11px;
              }
            }

            .description-holder {
              float: left;
              margin-top: 5px;
              width: 341px;

              .date-comments-holder {
                font-size: 10px;
                float: left;
                margin-top: 2px;

                .date {
                  color: #777;
                  float: left;
                }

                .to-comment {
                  color: #2B587A;
                  float: left;
                }
              }

              .like-holder {
                float: right;
                margin-top: 2px;

                .like-item {
                  float: left;
                  font-size: 11px;
                  color: #829BAF;
                }

                .like-icon {
                  background: url("../img/like.gif");
                  height: 10px;
                  width: 10px;
                  float: right;
                  margin: 2px 3px;
                }
              }
            }
          }
        }
      }
    }
  }
}

