/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
html, body {
  width: 100%;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}

/* line 12, ../sass/screen.scss */
#page-layout {
  margin: 0 auto;
  width: 791px;
}

/* line 17, ../sass/screen.scss */
#header {
  width: 791px;
  height: 40px;
  background: #4e729a url("../img/vk-logo.gif") repeat-x 0px -43px;
  border-radius: 0 0 8px 8px;
}
/* line 23, ../sass/screen.scss */
#header #logo-container {
  width: 134px;
  height: 40px;
  float: left;
}
/* line 28, ../sass/screen.scss */
#header #logo-container .vk-logo {
  background: url("../img/vk-logo.gif") 0px -1px;
  width: 134px;
  height: 36px;
}
/* line 36, ../sass/screen.scss */
#header #search-input-container {
  float: left;
}
/* line 39, ../sass/screen.scss */
#header #search-input-container .search-input {
  width: 106px;
  border: 0;
  border-radius: 2px;
  margin: 8px 0 5px 13px;
  height: 13px;
  padding: 4px 40px 5px 21px;
  font-size: 11px;
  background: #ffffff url("../img/search_icon_d.gif") no-repeat 6px -11px;
}
/* line 51, ../sass/screen.scss */
#header #navigation-menu {
  float: right;
  margin-right: 8px;
}
/* line 57, ../sass/screen.scss */
#header #navigation-menu .nav-menu-list .nav-menu-button {
  float: right;
}
/* line 60, ../sass/screen.scss */
#header #navigation-menu .nav-menu-list .nav-menu-button .button-content {
  float: right;
  font-weight: bold;
  font-size: 11px;
  color: #E8EFF7;
  text-shadow: 0px 1px 0px #4e7097;
  margin: 13px 10px;
}
/* line 69, ../sass/screen.scss */
#header #navigation-menu .nav-menu-list .nav-menu-button .music-button-play {
  background: url("../img/audio_iconsf.png") no-repeat;
  height: 22px;
  width: 23px;
  float: right;
  margin: 9px 5px 0 -2px;
}
/* line 79, ../sass/screen.scss */
#header #navigation-menu .nav-menu-button:hover {
  background-color: rgba(0, 31, 64, 0.17);
  color: #FFF;
  cursor: pointer;
}

/* line 90, ../sass/screen.scss */
#page-container #side-bar-container {
  height: 305px;
  padding: 6px 0 10px 4px;
  width: 136px;
  float: left;
  margin-right: 6px;
}
/* line 97, ../sass/screen.scss */
#page-container #side-bar-container .side-bar-list {
  margin-bottom: 10px;
}
/* line 100, ../sass/screen.scss */
#page-container #side-bar-container .side-bar-list .side-bar-action {
  height: 13px;
  width: 136px;
  padding: 4px 0;
}
/* line 105, ../sass/screen.scss */
#page-container #side-bar-container .side-bar-list .side-bar-action .side-bar-content {
  color: #2B587A;
  font-size: 11px;
  margin-left: 5px;
  float: left;
}
/* line 112, ../sass/screen.scss */
#page-container #side-bar-container .side-bar-list .side-bar-action .setting-button {
  color: gray;
  font-size: 11px;
  float: right;
  margin: 0 7px 0 0;
}
/* line 120, ../sass/screen.scss */
#page-container #side-bar-container .side-bar-list .side-line {
  margin: 3px 0;
  border-top: 1px solid #E7EAED;
}
/* line 127, ../sass/screen.scss */
#page-container #wall-page-container {
  width: 635px;
  float: left;
  border: solid #D9E0E7;
  border-width: 0px 1px 1px;
}
/* line 133, ../sass/screen.scss */
#page-container #wall-page-container #page-title {
  font-weight: bold;
  font-size: 11px;
  line-height: 140%;
  background: #E9EDF1;
  border: solid #D9E0E7;
  border-width: 0px 1px;
  width: 634px;
  height: 29px;
}
/* line 143, ../sass/screen.scss */
#page-container #wall-page-container #page-title #name-title {
  float: left;
  color: #607387;
  font-size: 11px;
  margin: 7px 8px;
}
/* line 150, ../sass/screen.scss */
#page-container #wall-page-container #page-title #status-title {
  float: right;
  color: #AAB7C5;
  font-size: 11px;
  margin: 7px 11px;
}
/* line 158, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container {
  margin: 10px;
  width: 607px;
}
/* line 162, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column {
  width: 200px;
  float: left;
}
/* line 169, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column .profile-avatar-container .profile-avatar {
  background: url("../img/main_avatar.jpg");
  height: 200px;
  width: 200px;
  float: left;
  margin-bottom: 13px;
}
/* line 177, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column .profile-avatar-container .edit-profile {
  font-size: 11px;
  color: #2B587A;
  margin: 0 0 10px 5px;
}
/* line 183, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column .profile-avatar-container .side-line {
  margin: 3px 2px;
  border-top: 1px solid #E7EAED;
}
/* line 188, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column .profile-avatar-container .profile-followers {
  margin: 10px 8px 22px 5px;
}
/* line 191, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column .profile-avatar-container .profile-followers .pr-follower-text {
  font-size: 11px;
  color: #2B587A;
  float: left;
}
/* line 197, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column .profile-avatar-container .profile-followers .followers-icon {
  float: right;
  background: url("../img/profile_icons.gif") 0 -23px no-repeat;
  height: 12px;
  width: 12px;
  margin-left: 4px;
}
/* line 205, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column .profile-avatar-container .profile-followers .followers-quantity {
  float: right;
  font-size: 10px;
  color: #2B587A;
}
/* line 213, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #rating-container {
  height: 18px;
  width: 200px;
  margin: 37px 0 13px;
}
/* line 218, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #rating-container .under-layer {
  background-color: #F1F1F1;
  height: 18px;
  position: relative;
  z-index: 1;
}
/* line 225, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #rating-container .upper-layer {
  background-color: #DEE5EB;
  width: 190px;
  height: 18px;
  position: relative;
  z-index: 2;
  top: -18px;
}
/* line 234, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #rating-container .text-holder {
  text-align: center;
  color: #8BA1BC;
  font-size: 11px;
  position: relative;
  z-index: 3;
  top: -33px;
}
/* line 244, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column .contact-info {
  margin: 17px 15px 44px 3px;
}
/* line 247, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column .contact-info .rate-icon {
  float: left;
  height: 12px;
  width: 12px;
  background: url("../img/profile_icons.gif") 0 -198px;
}
/* line 254, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column .contact-info .rate-text-holder {
  width: 130px;
  font-size: 11px;
  float: left;
  color: #2B587A;
  margin-left: 6px;
}
/* line 262, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column .contact-info .rate-plus-percent {
  float: right;
  font-size: 11px;
  color: #2B587A;
}
/* line 269, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column .module-header {
  float: left;
  width: 200px;
}
/* line 273, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column .module-header .module-title {
  font-weight: bold;
  background: #DEE5EB;
  height: 21px;
}
/* line 278, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column .module-header .module-title .module-text-holder {
  float: left;
  color: #45688E;
  margin: 4px 11px;
  font-size: 11px;
}
/* line 285, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column .module-header .module-title .module-updates {
  float: right;
  color: #99ADC2;
  margin: 4px 11px;
  font-size: 11px;
}
/* line 293, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column .module-header .module-value {
  color: #666;
  padding: 4px 10px;
  background: #F1F1F1;
  height: 12px;
  font-size: 11px;
}
/* line 302, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #friends-container {
  font-size: 11px;
  float: left;
  width: 200px;
  color: #2B587A;
}
/* line 309, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #friends-online-container {
  font-size: 11px;
  float: left;
  width: 200px;
  color: #2B587A;
}
/* line 316, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column .random-fr-shower {
  height: 208px;
  margin: 6px 0 -9px 8px;
}
/* line 320, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column .random-fr-shower .fr-page-container {
  float: left;
  height: 94px;
  width: 50px;
  margin: 5px 14px 0 0;
}
/* line 326, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column .random-fr-shower .fr-page-container .fr-avatar {
  background: url("../img/ogor-delay-avatar.jpg");
  width: 50px;
  height: 50px;
  float: left;
  margin-bottom: 2px;
}
/* line 334, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column .random-fr-shower .fr-page-container .fr-name {
  float: left;
  margin-left: 12px;
  text-align: center;
  line-height: 1.2;
}
/* line 343, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #community-container {
  width: 200px;
  float: left;
}
/* line 347, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #community-container .community-holder {
  float: left;
  margin: 3px 8px;
  width: 100%;
}
/* line 352, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #community-container .community-holder .community-avatar {
  background: url("../img/comm-avatar.jpg");
  height: 32px;
  width: 32px;
  float: left;
  background-size: cover;
}
/* line 360, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #community-container .community-holder .community-name {
  float: left;
  font-size: 11px;
  color: #2B587A;
  margin: 4px;
}
/* line 370, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #community-container .community-holder .community-name .comm-status {
  font-size: 0.9em;
  color: gray;
}
/* line 378, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #photo-container {
  float: left;
  padding-bottom: 20px;
}
/* line 382, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #photo-container .album-holder {
  float: left;
  width: 200px;
}
/* line 386, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #photo-container .album-holder .album-photo-preview {
  width: 178px;
  height: 118px;
  float: right;
  margin: 10px 10px 0;
}
/* line 393, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #photo-container .album-holder .preview-1 {
  background: url("../img/dnushenka.jpg");
  background-size: cover;
}
/* line 398, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #photo-container .album-holder .preview-2 {
  background: url("../img/odessa.jpg");
  background-size: cover;
}
/* line 403, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #photo-container .album-holder .album-name-holder {
  font-size: 11px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  position: relative;
  top: -20px;
  left: -11px;
  width: 178px;
  text-align: left;
  margin: 4px 0 -18px;
  line-height: 12px;
  height: 16px;
  z-index: 3;
  float: right;
  font-weight: bold;
}
/* line 419, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #photo-container .album-holder .album-name-holder .album-name {
  float: left;
  margin: 2px 6px;
}
/* line 424, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #photo-container .album-holder .album-name-holder .photo-value {
  float: right;
  margin: 2px 6px 0 0;
}
/* line 429, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #photo-container .album-holder .album-name-holder .photo-icon {
  float: right;
  background: url("../img/camera_white.png");
  height: 9px;
  width: 12px;
  margin: 3px 3px;
}
/* line 440, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #video-container {
  float: left;
  padding-bottom: 20px;
}
/* line 444, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #video-container .video-holder {
  float: left;
  margin: 10px 10px 0;
  font-size: 11px;
}
/* line 449, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #video-container .video-holder .video-preview-1 {
  background: url("../img/video-prev-1.jpg") 0;
  width: 178px;
  height: 97px;
  background-size: cover;
}
/* line 456, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #video-container .video-holder .video-preview-2 {
  background: url("../img/video-prev-2.jpg") 0;
  width: 178px;
  height: 97px;
  background-size: cover;
}
/* line 463, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #video-container .video-holder .play-time-layer {
  height: 0;
}
/* line 466, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #video-container .video-holder .play-time-layer .video-play-button {
  background: url("../img/video-play-button.png");
  height: 36px;
  width: 36px;
  position: relative;
  left: 70px;
  bottom: 66px;
}
/* line 475, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #video-container .video-holder .play-time-layer .time-holder {
  color: #FFF;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.57);
  width: 35px;
  position: relative;
  left: 121px;
  bottom: 59px;
  font-size: 10px;
}
/* line 488, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #video-container .video-holder .description-holder {
  float: left;
  margin-top: 5px;
}
/* line 492, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #video-container .video-holder .description-holder .name-holder {
  color: #2B587A;
  float: left;
}
/* line 497, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #video-container .video-holder .description-holder .date-comments-holder {
  font-size: 10px;
  float: left;
  margin-top: 2px;
}
/* line 502, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #video-container .video-holder .description-holder .date-comments-holder .date {
  color: #777;
  float: left;
}
/* line 507, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #video-container .video-holder .description-holder .date-comments-holder .to-comment {
  color: #2B587A;
  float: left;
}
/* line 516, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #audio-container {
  float: left;
}
/* line 519, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #audio-container .audio-holder {
  float: right;
  width: 191px;
  height: 28px;
  margin-top: 7px;
  font-size: 11px;
}
/* line 526, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #audio-container .audio-holder .play-pause-button {
  background: url("../img/playpause.gif");
  float: left;
  height: 16px;
  width: 16px;
  margin: 5px;
}
/* line 534, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #audio-container .audio-holder .audio-name {
  float: left;
  width: 116px;
  padding: 7px 0 6px;
}
/* line 539, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #audio-container .audio-holder .audio-name .artist-name {
  float: left;
  font-weight: bold;
  color: #2B587A;
}
/* line 546, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-left-column #audio-container .audio-holder .audio-time {
  float: right;
  padding: 7px 0 6px;
  margin-right: 9px;
}
/* line 555, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column {
  float: right;
  width: 397px;
}
/* line 559, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #profile-information-container {
  float: left;
}
/* line 562, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #profile-information-container #profile-name {
  color: #45688E;
  font-size: 12px;
  font-weight: bold;
  float: left;
  margin: 1px 0 2px 6px;
}
/* line 570, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #profile-information-container #profile-status {
  float: left;
  font-size: 11px;
  margin: 4px 0 2px 7px;
}
/* line 576, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #profile-information-container .side-line {
  margin: 5px 0;
  border-top: 1px solid #E7EAED;
  float: left;
  width: 404px;
}
/* line 583, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #profile-information-container #family-information {
  float: left;
  font-size: 11px;
  margin: 7px 0 2px 6px;
}
/* line 588, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #profile-information-container #family-information .family-items {
  float: left;
  width: 135px;
  color: #777;
}
/* line 593, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #profile-information-container #family-information .family-items .fam-status {
  margin-bottom: 7px;
}
/* line 602, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #profile-information-container #family-information .family-members {
  float: right;
}
/* line 605, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #profile-information-container #family-information .family-members .fam-label {
  margin-bottom: 7px;
}
/* line 608, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #profile-information-container #family-information .family-members .fam-label .fam-name {
  float: right;
  color: #2B587A;
  margin-left: 3px;
}
/* line 615, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #profile-information-container #family-information .family-members .father-name {
  color: #2B587A;
}
/* line 622, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #show-more-container {
  float: left;
  width: 397px;
  font-size: 11px;
  color: #2B587A;
  height: 30px;
  margin: 4px 0 11px;
}
/* line 630, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #show-more-container .show-more-info {
  margin: 10px 0 0 141px;
}
/* line 635, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #page-photo-container {
  width: 397px;
  height: 112px;
  float: left;
  font-size: 11px;
}
/* line 641, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #page-photo-container .photo-title {
  background: #DEE5EB;
  font-weight: bold;
  height: 25px;
}
/* line 646, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #page-photo-container .photo-title .photo-value {
  float: left;
  color: #45688E;
  margin: 6px;
}
/* line 652, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #page-photo-container .photo-title .add-photo {
  float: right;
  color: #99ADC2;
  margin: 6px;
}
/* line 660, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #page-photo-container #photo-holder {
  float: left;
  height: 77px;
  margin: 5px -1px 12px;
}
/* line 665, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #page-photo-container #photo-holder .ph {
  float: left;
}
/* line 669, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #page-photo-container #photo-holder .photo1 {
  background: url("../img/photo-1.jpg");
  height: 70px;
  width: 70px;
  background-size: cover;
  margin-right: 3px;
}
/* line 677, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #page-photo-container #photo-holder .photo2 {
  background: url("../img/photo-2.jpg");
  height: 70px;
  width: 105px;
  background-size: cover;
  margin-right: 3px;
}
/* line 685, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #page-photo-container #photo-holder .photo3 {
  background: url("../img/photo-3.jpg");
  height: 70px;
  width: 105px;
  background-size: cover;
  margin-right: 3px;
}
/* line 693, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #page-photo-container #photo-holder .photo4 {
  background: url("../img/photo-4.jpg");
  height: 70px;
  width: 105px;
  background-size: cover;
}
/* line 702, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #add-new-note {
  float: left;
  font-size: 11px;
  width: 397px;
}
/* line 707, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #add-new-note .note-title {
  background: #DEE5EB;
  font-weight: bold;
  height: 12px;
  color: #45688E;
  padding: 7px 0 6px 6px;
}
/* line 715, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #add-new-note .input-area {
  background: #F1F1F1;
  height: 44px;
}
/* line 719, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column #add-new-note .input-area .add-note {
  color: #666;
  margin: 9px 8px 8px;
  width: 364px;
  height: 11px;
  padding: 6px 8px 8px 7px;
  border: 1px solid #C3CBD4;
  font-size: 11px;
}
/* line 731, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column .wall-note-container {
  float: left;
  height: auto;
  width: 397px;
  margin-top: 7px;
}
/* line 737, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column .wall-note-container .mini-avatar-holder {
  float: left;
  margin: 5px 0;
}
/* line 741, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column .wall-note-container .mini-avatar-holder .mini-avatar {
  background: url("../img/mini-avatar.jpg");
  height: 50px;
  width: 50px;
  float: left;
}
/* line 748, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column .wall-note-container .mini-avatar-holder .status {
  width: 50px;
  text-align: center;
  margin-top: 57px;
  color: #AAA;
  font-size: 11px;
}
/* line 757, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column .wall-note-container .note-holder {
  float: left;
  width: 341px;
  margin: 5px 0 0 6px;
}
/* line 763, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column .wall-note-container .note-holder .name-holder {
  color: #2B587A;
  font-size: 11px;
  font-weight: bold;
}
/* line 769, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column .wall-note-container .note-holder .content-holder {
  margin-top: 5px;
}
/* line 772, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column .wall-note-container .note-holder .content-holder .content {
  line-height: 160%;
  font-size: 11px;
}
/* line 778, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column .wall-note-container .note-holder .description-holder {
  float: left;
  margin-top: 5px;
  width: 341px;
}
/* line 783, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column .wall-note-container .note-holder .description-holder .date-comments-holder {
  font-size: 10px;
  float: left;
  margin-top: 2px;
}
/* line 788, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column .wall-note-container .note-holder .description-holder .date-comments-holder .date {
  color: #777;
  float: left;
}
/* line 793, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column .wall-note-container .note-holder .description-holder .date-comments-holder .to-comment {
  color: #2B587A;
  float: left;
}
/* line 799, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column .wall-note-container .note-holder .description-holder .like-holder {
  float: right;
  margin-top: 2px;
}
/* line 803, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column .wall-note-container .note-holder .description-holder .like-holder .like-item {
  float: left;
  font-size: 11px;
  color: #829BAF;
}
/* line 809, ../sass/screen.scss */
#page-container #wall-page-container #profile-page-container #page-right-column .wall-note-container .note-holder .description-holder .like-holder .like-icon {
  background: url("../img/like.gif");
  height: 10px;
  width: 10px;
  float: right;
  margin: 2px 3px;
}
